@tailwind base;
@tailwind components;
@tailwind utilities;

/*ANIMAÇÃO BG*/
body {
    background-color: #000;
    overflow-x: hidden;
}
  
html {
    font-family: "Poppins", sans-serif;
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(0 4 15 / var(--tw-bg-opacity));
}

.stars {
    position: absolute; /* position: relative; */
    width: 100%;
    height: 100%;
    transform: rotateZ(40deg);
}

.star {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 4px;
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699bff);
    animation: tail 3s ease-in-out infinite, falling 3s ease-in-out infinite;
}

.text-white {
    color: #fff;
}

@keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}

@keyframes falling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}

.star::before,
.star::after {
    content: "";
    position: absolute;
    right: 0;
    height: 4px;
    background: linear-gradient(
        -45deg,
        rgba(0, 0, 255, 0),
        #5f91ff,
        rgba(0, 0, 255, 0)
    );
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 3s ease-in-out infinite;
}

@keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}

.star::after {
    transform: translateX(50%) rotateZ(-45deg);
}

.star::after {
    transform: translateX(50%);
}

.star:nth-child(1) {
    top: 100%;
    left: calc(0% - 1px);
    animation-delay: 1s;
}

.star:nth-child(1)::before,
.star:nth-child(1)::after {
    animation-delay: 1s;
}

.star:nth-child(2) {
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    animation-delay: 1.2s;
}

.star:nth-child(2)::before,
.star:nth-child(2)::after {
    animation-delay: 1.2s;
}

.star:nth-child(3) {
    top: calc(50% - 0px);
    left: calc(50% - 150px);
    animation-delay: 1.4s;
}

.star:nth-child(3)::before,
.star:nth-child(3)::after {
    animation-delay: 1.4s;
}

.star:nth-child(4) {
    top: calc(50% - -50px);
    left: calc(50% - 200px);
    animation-delay: 1.6s;
}

.star:nth-child(4)::before,
.star:nth-child(4)::after {
    animation-delay: 1.6s;
}

.star:nth-child(5) {
    top: calc(50% - -100px);
    left: calc(50% - 250px);
    animation-delay: 1.8s;
}

.star:nth-child(5)::before,
.star:nth-child(5)::after {
    animation-delay: 1.8s;
}

.star:nth-child(6) {
    top: 60%;
    left: 60%;
}

.star:nth-child(7) {
    top: 70%;
    left: 70%;
}

.star:nth-child(8) {
    top: 80%;
    left: 80%;
}

@keyframes move {
    from {
        background-position: 5% 5%;
    }
    to {
        background-position: 1300% 600%;
    }
}

@keyframes sf-fly-by-1 {
    from {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(0);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-2 {
    from {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-3 {
    from {
        transform: translateZ(-1800px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-1200px);
        opacity: 0.5;
}
}
.star-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 600px;
    -webkit-perspective: 600px;
    z-index: 0;
}
.star-field .layer {
box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc,
        -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7,
        758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke,
        183px 389px #c7c7c7, 524px -237px #f0f0f0, 679px -535px #e3e3e3,
        158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb,
        719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4,
        870px -134px #cfcfcf, 446px 404px #c2c2c2, 440px 490px #d4d4d4,
        414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3,
        641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2,
        727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
        -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0,
        -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2,
        755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6,
        554px -176px #ededed, -85px -428px #d9d9d9, 714px 55px #e8e8e8,
        359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc,
        74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf,
        -112px 287px #c9c9c9, -853px 79px #d6d6d6, 828px 475px #d6d6d6,
        -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa,
        -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke,
        -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
        624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed,
        70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke,
        -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9,
        -362px 97px #c2c2c2, 563px 47px #dedede, 313px 475px #e0e0e0,
        839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2,
        -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white,
        170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
        -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6,
        808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc,
        -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3,
        -383px 368px #f7f7f7, 419px 288px #d1d1d1, -598px -50px #c2c2c2,
        -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6,
        392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb,
        98px -412px #c4c4c4, -911px -277px #c9c9c9;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 4px;
    border-radius: 2px;
}
.star-field .layer:nth-child(1) {
    animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
    animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
    animation: sf-fly-by-3 5s linear infinite;
}

#sliderClients .slick-prev:before,
#sliderClients .slick-next:before {
    display: none;
}

.text-gradient {
    background: radial-gradient(
        64.18% 64.18% at 71.16% 35.69%,
        #def9fa 0.89%,
        #bef3f5 17.23%,
        #9dedf0 42.04%,
        #7de7eb 55.12%,
        #5ce1e6 71.54%,
        #33bbcf 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.bg-blue-gradient {
    background: linear-gradient(
      157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%
    );
}